{% extends 'base.html.twig' %}

{% block main_content %}

    <div class="main_content">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    {% trans %}<h1>Action list</h1>{% endtrans %}

                    <div class="table-responsive">
                        {% if actions is defined and actions is not null  %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th> {{ 'Id'|trans|raw }}           </th>
                                    <th> {{ 'Action Type'|trans|raw }}  </th>
                                    <th> {{ 'Priority'|trans|raw }}     </th>
                                    <th> {{ 'Initial Date'|trans|raw }} </th>
                                    <th> {{ 'Author'|trans|raw }}       </th>
                                    <th> {{ 'Status'|trans|raw }}       </th>
                                    <th> {{ 'Current Date'|trans|raw }} </th>
                                    <th> {{ 'Real Date'|trans|raw }}    </th>
                                    <th> {{ 'Identificator'|trans|raw }}</th>
                                    <th> {{ 'Actions'|trans|raw }}      </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for action in actions %}
                                    {% if action.charter.id is defined and action.charter.id == charter.id %}
                                    <tr>
                                        <td><a href="{{ path('action_show', {'id2': action.id,'id1': charter.id  }) }}">{{ action.id }}</a></td>
                                        <td>{{ action.actionType }}</td>
                                        <td>{{ action.priority }}</td>
                                        <td>{{ action.initialDate |date('Y-m-d') }}</td>
                                        <td>{{ action.author}}</td>
                                        <td>{{ action.status}}</td>
                                        <td>{{ action.currentDate |date('Y-m-d') }}</td>
                                        <td>{{ action.realDate |date('Y-m-d') }}</td>
                                        <td>{{ action.identificator}}</td>

                                        <td>
                                            <a class="btn btn-info" href="{{ path('action_show', { 'id2': action.id,'id1': charter.id }) }}"><i class="glyphicon glyphicon-eye-open"></i>{{ ' Show'|trans|raw }} </a>
                                            <a class="btn btn-primary" href="{{ path('action_edit', { 'id2': action.id,'id1': charter.id }) }}"><i class="glyphicon glyphicon-edit"></i>{{ ' Edit'|trans|raw }} </a>

                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {%endif%}
                    </div>

                    <br>
                    <a class="btn btn-success" href="{{ path('action_new',{ 'id':charter.id}) }}"><i class="glyphicon glyphicon-plus"></i>{% trans %} Create a new entry {% endtrans %}</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html.twig' %}
{% endblock %}