{% extends 'base.html.twig' %}

{% block main_content %}

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    {% trans %} <h1>Project</h1> {% endtrans %}

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>projectName</th>
                                    <td>{{ charter.projectName }}</td>
                                </tr>
                                <tr>
                                    <th>projectManager</th>
                                    <td>{{ charter.projectManager }}</td>
                                </tr>

                                <tr>
                                    <th>budget</th>
                                    <td>{{ charter.plannedExpensesBudget+charter.agreedWageExpenses }}</td>
                                </tr>
                                <tr>
                                    <th>incomes</th>
                                    <td>{{ charter.budget }}</td>
                                </tr>
                                <tr>
                                    <th>Expenses</th>
                                    <td>{{ charter.projectId.expenses }}</td>
                                </tr>

                                <tr>
                                    <th>realStartDate</th>
                                    <td>{{ charter.projectId.realStartDate |date('Y-m-d') }}</td>
                                </tr>
                                <tr>
                                    <th>plannedEndDate</th>
                                    <td>{{ charter.projectId.plannedEndDate |date('Y-m-d')}}</td>
                                </tr>

                                <tr>
                                    <th>done</th>
                                    <td>{{ charter.projectId.done }}</td>
                                </tr>
                                <tr>
                                    <th>endDate</th>
                                    <td>{{ charter.projectId.endDate|date('Y-m-d') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <a class="btn btn-primary" href="{{ path('project_edit', { 'id': charter.id }) }}"><i class="glyphicon glyphicon-edit"></i>{{ 'Edit'|trans|raw }}</a>
                    <a class="btn btn-warning" href="{{ path('project_index') }}"><i class="glyphicon glyphicon-arrow-left"></i>{{ 'Back to the list'|trans|raw }}</a>
                    <br><br>

                    {{ form_start(delete_form) }}
                    <input id="sticky_a" class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}

                 </div>
            </div>
        </div>
    </div>

{% endblock %}
