<a href="javascript:void(0)" class="sidebar_switch on_switch bs_ttip" data-placement="auto right" data-viewport="body" title="Hide Sidebar">Sidebar switch</a>
    <div class="sidebar">
        <div class="sidebar_inner_scroll">
            <div class="sidebar_inner">
                <div id="side_accordion" class="panel-group">
                    <strong><div style="display:block;padding:8px 15px">{{ charter.projectName }}</div></strong>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#collapseOne" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                <i class="glyphicon glyphicon-file"></i> {{ 'Charter'|trans|raw }}
                            </a>
                        </div>
                        <div class="accordion-body collapse in" id="collapseOne">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="{{ path('charter_show', {'id': charter.id}) }}">{% trans %}Project and Product Overview{% endtrans %}</a></li>
                                    <li><a href="{{ path('charter_show2', {'id': charter.id}) }}">{% trans %}Project scope{% endtrans %}</a></li>
                                    <li><a href="{{ path('charter_show3', {'id': charter.id}) }}">{% trans %}Project Milestones & Waving{% endtrans %}</a></li>
                                    <li><a href="{{ path('charter_show4', {'id': charter.id}) }}">{% trans %}Assumptions, Constraints{% endtrans %}</a></li>
                                    <li><a href="{{ path('charter_show5', {'id': charter.id}) }}">{% trans %}Project Budget{% endtrans %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path('stakeholder_index', { 'id': charter.id }) }}" data-parent="#side_accordion"  style="display:block;padding:8px 15px">
                                <i class="glyphicon glyphicon-user"></i> {{ 'Stakeholder'|trans|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path('risks_index', { 'id': charter.id }) }}" data-parent="#side_accordion" style="display:block;padding:8px 15px">
                                <i class="glyphicon glyphicon-warning-sign"></i> {{ 'Risks'|trans|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path('opportunities_index', { 'id': charter.id }) }}" data-parent="#side_accordion" style="display:block;padding:8px 15px">
                                <i class="glyphicon glyphicon-heart"></i> {{ 'Opportunities'|trans|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path('action_index', { 'id': charter.id }) }}" data-parent="#side_accordion" style="display:block;padding:8px 15px">
                                <i class="glyphicon glyphicon-ok"></i> {{ 'Actions'|trans|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path('finance_index', { 'id': charter.id }) }}" data-parent="#side_accordion" style="display:block;padding:8px 15px">
                                <i class="glyphicon glyphicon-euro"></i> {{ 'Finance'|trans|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path('log_index', { 'id': charter.id }) }}" data-parent="#side_accordion" style="display:block;padding:8px 15px">
                                <i class="glyphicon glyphicon-list-alt"></i> {{ 'Project log'|trans|raw }}
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path('report_index', { 'id': charter.id }) }}" data-parent="#side_accordion" style="display:block;padding:8px 15px">
                                <i class="glyphicon glyphicon-book"></i> {{ 'Project report'|trans|raw }}
                            </a>
                        </div>
                    </div>
                </div>
                <form action="search_page.html" class="input-group input-group-sm" method="post">
                    <input autocomplete="off" name="query" class="search_query form-control input-sm" size="16" placeholder="Search..." type="text">
                    <span class="input-group-btn"><button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></span>
                </form>
            </div>
        </div>
    </div>