{% extends 'base.html.twig' %}

{% block main_content %}
    
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                <h1>Stakeholder edit</h1>

                {{ form_start(edit_form, {'attr': {'class': 'form-horizontal' }}) }}

                {{ form_widget(edit_form._token) }}
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" ><span class="label label-primary">name</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.name,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(edit_form.name) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" ><span class="label label-primary">role</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.role,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(edit_form.role) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" ><span class="label label-primary">email</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.email,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(edit_form.email) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" ><span class="label label-primary">phoneNumber</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.phoneNumber,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(edit_form.phoneNumber) }}
                        </div>
                    </div>

                    <div  class="form-group">
                     <label class="col-sm-6 control-label"></label>
                        <div class="col-sm-4" >
			<button class="btn btn-primary" type="submit"> Edit</button>
                        </div>
                    </div>
                {{ form_end(edit_form) }}
                 <br>
  
                <a class="btn btn-warning" href="{{ path('stakeholder_index',{'id':charter.id}) }}"><i class="glyphicon glyphicon-arrow-left"></i> Back to the list</a>



                </div>
            </div>
        </div>
     </div>
           
{% endblock %}
