{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h1>Charter creation</h1>
                    <br>

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate','class': 'form-horizontal' }}) }}
                    {{ form_widget(form._token) }}
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">Title</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.title,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.title) }}
                        </div>
                    </div><br>

                    <h3>Project and Product Overview</h3><br>

                    <h4> 1- Project Identification</h4>

                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">Project Name</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.projectName,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.projectName) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">Project Manager</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.projectManager,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.projectManager) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary"> Project Internal Refrances</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.projectInternalRefrances,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.projectInternalRefrances) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">Final Client </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.finalClient,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.finalClient) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">Client</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.client,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.client) }}
                        </div>
                    </div><br>

                    <h4> 2- Project Description</h4>

                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary"> Project Description</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.projectDescription,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.projectDescription) }}
                        </div>
                    </div><br>

                    <h4> 3- Project repository</h4>

                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary"> Project Repository</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.projectRepository,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.projectRepository) }}
                        </div>
                    </div><br>

                    <h3>Project scope</h3><br>

                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">objectives</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.objectives,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.objectives) }}
                        </div>
                    </div><br>

                    {% block javascripts %}
                        <script>
                            jQuery(document).ready(function() {
                                var $wrapper = $('.js-genus-scientist-wrapper');
                                $wrapper.on('click', '.js-genus-scientist-add', function(e) {
                                    e.preventDefault();
                                    // Get the data-prototype explained earlier
                                    var prototype = $wrapper.data('prototype');
                                    // get the new index
                                    var index = $wrapper.data('index');
                                    // Replace '__name__' in the prototype's HTML to
                                    // instead be a number based on how many items we have
                                    var newForm = prototype.replace(/__name__/g, index);
                                    // increase the index with one for the next item
                                    $wrapper.data('index', index + 1);
                                    // Display the form in the page before the "new" link
                                    $(this).before(newForm);
                                });
                            });
                        </script>
                    {% endblock %}


                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">High Level Requirement</span></label>
                        <div class="col-sm-7">
                            {#{{ form_widget(form.requirements.highLevelRequirement,  {'attr': {'required':'required','class':'form-control'} }) }}#}
                            {#{{ form_errors(form.requirements.highLevelRequirement) }}#}
                            <div class="js-genus-scientist-wrapper" data-prototype="{{ form_widget(form.requirements.vars.prototype)|e('html_attr') }}"data-index="{{ form.requirements|length }}">
                            {% for requirement in form.requirements %}
                                <li>
                                    {{ form_widget(requirement.highLevelRequirement,  {'attr': {'required':'required','class':'form-control'} }) }}
                                    {{ form_errors(requirement.highLevelRequirement) }}
                                </li>
                            {% endfor %}
                            <a href="#" class="js-genus-scientist-add">
                                Add a highLevelRequirement
                            </a>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-success pull-right" href="#"><i class="glyphicon glyphicon-plus"></i> Add</a><br>




                    <h4>Major Deliverables</h4><br>


                            {% for deliverable in form.deliverables %}
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">Major Deliverables</span></label>
                                <div class="col-sm-7">
                                    {{ form_widget(deliverable.majorDeliverables,  {'attr': {'required':'required','class':'form-control'} }) }}
                                    {{ form_errors(deliverable.majorDeliverables) }}
                                </div>
                                    <br><br>
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">Deliverables Description</span></label>
                                <div class="col-sm-7">
                                    {{ form_widget(deliverable.deliverablesDescription,  {'attr': {'required':'required','class':'form-control'} }) }}
                                    {{ form_errors(deliverable.deliverablesDescription) }}
                                </div>
                            {% endfor %}



                    <a class="btn btn-success pull-right" href="#"><i class="glyphicon glyphicon-plus"></i> Add</a><br>

                    <br><br>

                    <h3>Project Milestones & Waving</h3><br>



                            {% for milestone in form.milestones %}

                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">Executive Milestones </span></label>
                                <div class="col-sm-7">
                                {{ form_widget(milestone.executiveMilestones,  {'attr': {'required':'required','class':'form-control'} }) }}
                                {{ form_errors(milestone.executiveMilestones) }}
                                </div>
                                <br>
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">estimatedDuration </span></label>
                                <div class="col-sm-7">
                                {{ form_widget(milestone.estimatedDuration,  {'attr': {'required':'required','class':'form-control'} }) }}
                                {{ form_errors(milestone.estimatedDuration) }}
                                </div>
                                <br>
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">estimatedCompletionTimeframe</span></label>
                                <div class="col-sm-7">
                                {{ form_widget(milestone.estimatedCompletionTimeframe,  {'attr': {'required':'required','class':'form-control'} }) }}
                                {{ form_errors(milestone.estimatedCompletionTimeframe) }}
                                </div>
                                <br>
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">comments </span></label>
                                <div class="col-sm-7">
                                {{ form_widget(milestone.comments,  {'attr': {'required':'required','class':'form-control'} }) }}
                                {{ form_errors(milestone.comments) }}
                                </div>
                            {% endfor %}



                    <a class="btn btn-success pull-right" href="#"><i class="glyphicon glyphicon-plus"></i> Add</a><br>
                    <br><br><br>

                    <h3>Constraints, Assumptions</h3><br>


                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">constraints</span></label>
                        <div class="col-sm-7">
                            {% for constraint in form.constraints %}

                            {{ form_widget(constraint.constraints,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(constraint.constraints) }}

                            {% endfor %}
                        </div>
                    </div>

                    <a class="btn btn-success pull-right" href="#"><i class="glyphicon glyphicon-plus"></i> Add</a><br>
                    <br>

                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">assumptions</span></label>
                        <div class="col-sm-7">
                            {% for assumption in form.assumptions %}

                                {{ form_widget(assumption.assumptions,  {'attr': {'required':'required','class':'form-control'} }) }}
                                {{ form_errors(assumption.assumptions) }}

                            {% endfor %}
                         </div>
                    </div>

                    <a class="btn btn-success pull-right" href="#"><i class="glyphicon glyphicon-plus"></i> Add</a><br>

                    <br>

                    <h3>Stakeholders</h3><br>


                            {% for stakeholder in form.stakeholders %}
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">stakeholderName</span></label>
                                <div class="col-sm-7">
                                {{ form_widget(stakeholder.name,  {'attr': {'required':'required','class':'form-control'} }) }}
                                {{ form_errors(stakeholder.name) }}
                                </div>
                                <br>
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">stakeholderRole </span></label>
                                <div class="col-sm-7">
                                {{ form_widget(stakeholder.role,  {'attr': {'required':'required','class':'form-control'} }) }}
                                {{ form_errors(stakeholder.role) }}
                                </div>
                                <br>
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">email </span></label>
                                <div class="col-sm-7">
                                    {{ form_widget(stakeholder.email,  {'attr': {'required':'required','class':'form-control'} }) }}
                                    {{ form_errors(stakeholder.email) }}
                                </div>
                                <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">phoneNumber </span></label>
                                <div class="col-sm-7">
                                        {{ form_widget(stakeholder.phoneNumber,  {'attr': {'required':'required','class':'form-control'} }) }}
                                        {{ form_errors(stakeholder.phoneNumber) }}
                                </div>


                            {% endfor %}


                    <a class="btn btn-success pull-right" href="#"><i class="glyphicon glyphicon-plus"></i> Add</a><br>

                    <br><br><br>

                    <h3>Project Budget</h3><br>

                    <h4> 1- Incomes (€)</h4>

                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">budget</span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.budget,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.budget) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">incomesManDayAffection </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.incomesManDayAffection,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.incomesManDayAffection) }}
                        </div>
                    </div>

                    <h4> 2. Expenses (€)</h4>

                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">agreedWageExpenses </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.agreedWageExpenses,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.agreedWageExpenses) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">plannedExpensesBudget </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.plannedExpensesBudget,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.plannedExpensesBudget) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">targetProfitability </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.targetProfitability,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.targetProfitability) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">thresholdProfitability </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.thresholdProfitability,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.thresholdProfitability) }}
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">expensesManDayAffection </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.expensesManDayAffection,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.expensesManDayAffection) }}
                        </div>
                    </div><br><br>

                    {% for budget in form.budgets %}

                    <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">profile </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(budget.profile,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(budget.profile) }}
                        </div>
                    <br>
                    <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">estimatedDurationBudget </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(budget.estimatedDurationBudget,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(budget.estimatedDurationBudget) }}
                        </div>
                        <br>
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">estimatedCost </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(budget.estimatedCost,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(budget.estimatedCost) }}
                        </div>
                        <br>
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">budgetComments </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(budget.budgetComments,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(budget.budgetComments) }}
                        </div>
                        <br>
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">projectBudgetType </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(budget.projectBudgetType,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(budget.projectBudgetType) }}
                        </div>
                        <br>
                    {% endfor %}
                    <br>
                    <a class="btn btn-success pull-right" href="#"><i class="glyphicon glyphicon-plus"></i> Add</a><br>
                    <br>

                    <h4> 3. Billing</h4>

                    <div  class="form-group">
                        <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">billingResponsible </span></label>
                        <div class="col-sm-7">
                            {{ form_widget(form.billingResponsible,  {'attr': {'required':'required','class':'form-control'} }) }}
                            {{ form_errors(form.billingResponsible) }}
                        </div>
                    </div>

                {% for billing in form.billings %}
                    <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">billingDescription</span></label>
                    <div class="col-sm-7">
                        {{ form_widget(billing.billingDescription,  {'attr': {'required':'required','class':'form-control'} }) }}
                        {{ form_errors(billing.billingDescription) }}
                    </div>
                    <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">billingAmount</span></label>
                    <div class="col-sm-7">
                        {{ form_widget(billing.billingAmount,  {'attr': {'required':'required','class':'form-control'} }) }}
                        {{ form_errors(billing.billingAmount) }}
                    </div>
                    <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">billingPlanedDate</span></label>
                    <div class="col-sm-7">
                        {{ form_widget(billing.billingPlanedDate,  {'attr': {'required':'required','class':'form-control'} }) }}
                        {{ form_errors(billing.billingPlanedDate) }}
                    </div>
                    <br><br>
                    <label class="col-sm-3 control-label" style="font-size:1em"><span class="label label-primary">billingDeliveredDate</span></label>
                    <div class="col-sm-7">
                        {{ form_widget(billing.billingDeliveredDate,  {'attr': {'required':'required','class':'form-control'} }) }}
                        {{ form_errors(billing.billingDeliveredDate) }}
                    </div>
                {% endfor %}

                    <a class="btn btn-success pull-right" href="#"><i class="glyphicon glyphicon-plus"></i> Add</a><br>
                    <br>

                    <div  class="form-group">
                        <label class="col-sm-6 control-label"></label>
                        <div class="col-sm-4" >
                            <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                    </div>
                    {{ form_end(form) }}


                    <a class="btn btn-warning" href="{{ path('project_index') }}"><i class="glyphicon glyphicon-arrow-left"></i> Back to the list</a>

                </div>
            </div>
        </div>
    </div>
    {#{% block javascripts %}#}
        {#<script>#}
            {#var $collectionHolder;#}

            {#// setup an "add a tag" link#}
            {#var $addRequirementLink = $('<a href="#" class="add_requirement_link">Add a highLevelRequirement</a>');#}
            {#var $newLinkLi = $('<li></li>').append($addRequirementLink);#}


            {#jQuery(document).ready(function() {#}
                {#// Get the ul that holds the collection of tags#}
                {#$collectionHolder = $('ul.requirements');#}

                {#// add the "add a highLevelRequirement" anchor and li to the tags ul#}
                {#$collectionHolder.append($newLinkLi);#}

                {#// count the current form inputs we have (e.g. 2), use that as the new#}
                {#// index when inserting a new item (e.g. 2)#}
                {#$collectionHolder.data('index', $collectionHolder.find(':input').length);#}

                {#$addRequirementLink.on('click', function(e) {#}
                    {#// prevent the link from creating a "#" on the URL#}
                    {#e.preventDefault();#}

                    {#// add a new tag form (see next code block)#}
                    {#addRequimentForm($collectionHolder, $newLinkLi);#}
                {#});#}

                {#function addRequimentForm($collectionHolder, $newLinkLi) {#}
                    {#// Get the data-prototype explained earlier#}
                    {#var prototype = $collectionHolder.data('prototype');#}

                    {#// get the new index#}
                    {#var index = $collectionHolder.data('index');#}

                    {#var newForm = prototype;#}
                    {#// You need this only if you didn't set 'label' => false in your tags field in TaskType#}
                    {#// Replace '__name__label__' in the prototype's HTML to#}
                    {#// instead be a number based on how many items we have#}
                    {#//newForm = newForm.replace(/__name__label__/g, index);#}

                    {#// Replace '__name__' in the prototype's HTML to#}
                    {#// instead be a number based on how many items we have#}
                    {#newForm = newForm.replace(/__name__/g, index);#}

                    {#// increase the index with one for the next item#}
                    {#$collectionHolder.data('index', index + 1);#}

                    {#// Display the form in the page in an li, before the "Add a tag" link li#}
                    {#var $newFormLi = $('<li></li>').append(newForm);#}
                    {#$newLinkLi.before($newFormLi);#}
                {#}#}


            {#});#}

        {#</script>#}
    {#{% endblock %}#}
{% endblock %}
