{% extends 'base.html.twig' %}

{% block main_content %}

    <div class="main_content">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">

                    <div class="row">
                        <div class="tac col-lg-12">
                            <h1>{{ charter.title }}</h1><br>

                            <a class="btn btn-primary " href="{{ path('charter_edit', { 'id': charter.id }) }}"><i class="glyphicon glyphicon-edit"></i> edit charter</a>
                        </div>
                    </div>

                    <h2 class="heading">Project Budget</h2><br>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                    <h3> 1- Incomes (€)</h3>

                    <p><strong class="text-muted">Proxym-IT Budget : </strong>{{ charter.budget }}</p>
                    <p><strong class="text-muted">Proxym-IT man/ day affectation : </strong>{{ charter.incomesManDayAffection }}</p>
                    </div>
                    <div class="col-sm-6 col-md-6">

                        <h3> 2. Expenses (€)</h3>

                    <p><strong class="text-muted">PMO agreed Wage expenses : </strong>{{ charter.agreedWageExpenses }}</p>
                    <p><strong class="text-muted">Planned expenses budget : </strong>{{ charter.plannedExpensesBudget }}</p>
                    <p><strong class="text-muted">Target profitability : </strong>{{ charter.targetProfitability }}</p>
                    <p><strong class="text-muted">Threshold profitability : </strong>{{ charter.thresholdProfitability }}</p>
                    <p><strong class="text-muted">PMO man day affectation : </strong>{{ charter.expensesManDayAffection }}</p>

                    </div>
                    </div>
                    <strong>incomes & expenses</strong><br><br>

                    <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th> Profile </th>
                                    <th> Estimated duration </th>
                                    <th> Estimated Cost </th>
                                    <th> Comments </th>
                                    <th> Type </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for budget in charter.budgets  %}
                                    <tr>
                                        <td>{{ budget.profile }}</td>
                                        <td>{{ budget.estimatedDurationBudget }}</td>
                                        <td>{{ budget.estimatedCost }}</td>
                                        <td>{{ budget.budgetComments }}</td>
                                        {% if budget.expenses == 1 %}
                                            <td> expenses </td>
                                        {% elseif budget.incomes == 1 %}
                                            <td> incomes </td>
                                        {% endif  %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>

                    <h3> 3. Billing</h3>

                    <p><strong class="text-muted"> Billing responsible : </strong> {{ charter.billingResponsible }}</p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th> description </th>
                                <th> amount </th>
                                <th> plannedDate </th>
                                <th> deliveredDate </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for billing in charter.billings %}
                                <tr>
                                    <td>{{ billing.billingDescription }}</td>
                                    <td>{{ billing.billingAmount }}</td>
                                    <td>{{ billing.billingPlanedDate |date('Y-m-d') }}</td>
                                    <td>{{ billing.billingDeliveredDate |date('Y-m-d') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <ul class="pager">
                        <li class="previous">
                            <a href="{{ path('charter_show4', {'id': charter.id}) }}"><i class="glyphicon glyphicon-chevron-left"></i> Previous</a>
                        </li>
                    </ul>

                    {#afficher ce bouton que pour les PM#}
                    <a data-toggle="modal" data-backdrop="static" href="#Negociation" class="btn btn-info pull-right" ><i class="glyphicon glyphicon-eye-open"></i> Negociation</a>

                    {#afficher ce bouton que pour les PMO#}
                    <a data-toggle="modal" data-backdrop="static" href="#decision" class="btn btn-info pull-left" ><i class="glyphicon glyphicon-eye-open"></i> Decision</a>

                </div>
            </div>
        </div>
    </div>

    {% if negociation.charterId is not defined %}
        {# pour afficher le modal de négociation du budget decision #Negociation #}
        {{ render(controller('App\\Controller\\NegociationController::newAction', {'id':charter.id})) }}
    {% else %}
        {#pour afficher le modal de négociation à éditer#}
        {{ render(controller('App\\Controller\\NegociationController::editAction', {'id':charter.id })) }}
    {% endif %}

    {# pour afficher le modal de négociation pour valider ou modifier budget #decision #}
    {{ render(controller('App\\Controller\\NegociationController::showAction', {'id':charter.id})) }}

{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html.twig' %}
{% endblock %}