{% extends 'base.html.twig' %}

{% block main_content %}

    <div class="main_content">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">

                    <div class="row">
                        <div class="tac col-lg-12">
                            <h1>{{ charter.title }}</h1><br>
                            <a class="btn btn-primary " href="{{ path('charter_edit', { 'id': charter.id }) }}"><i class="glyphicon glyphicon-edit"></i> {% trans %} edit charter {% endtrans %}</a>
                        </div>
                    </div>

                    {% trans %}<h2 class="heading">Project Budget</h2>{% endtrans %}<br>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            {% trans %}<h3> 1- Incomes (€)</h3>{% endtrans %}

                            <p><strong class="text-muted">{% trans %}Proxym-IT Budget : {% endtrans %}</strong>{{ charter.budget }}</p>
                            <p><strong class="text-muted">{% trans %}Proxym-IT man/ day affectation : {% endtrans %}</strong>{{ charter.incomesManDayAffection }}</p>
                        </div>
                        <div class="col-sm-6 col-md-6">

                            {% trans %}<h3> 2. Expenses (€)</h3>{% endtrans %}

                            <p><strong class="text-muted">{% trans %}PMO agreed Wage expenses : {% endtrans %}</strong>{{ charter.agreedWageExpenses }}</p>
                            <p><strong class="text-muted">{% trans %}Planned expenses budget : {% endtrans %}</strong>{{ charter.plannedExpensesBudget }}</p>
                            <p><strong class="text-muted">{% trans %}Target profitability : {% endtrans %}</strong>{{ charter.targetProfitability }}</p>
                            <p><strong class="text-muted">{% trans %}Threshold profitability : {% endtrans %}</strong>{{ charter.thresholdProfitability }}</p>
                            <p><strong class="text-muted">{% trans %}PMO man day affectation : {% endtrans %}</strong>{{ charter.expensesManDayAffection }}</p>

                        </div>
                    </div>
                    <strong>{% trans %}incomes & expenses{% endtrans %}</strong><br><br>

                    <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th> {% trans %}Profile{% endtrans %} </th>
                                    <th> {% trans %}Estimated duration{% endtrans %} </th>
                                    <th> {% trans %}Estimated Cost{% endtrans %} </th>
                                    <th> {% trans %}Comments{% endtrans %} </th>
                                    <th> {% trans %}Type{% endtrans %} </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for budget in charter.budgets  %}
                                    <tr>
                                        <td>{{ budget.profile }}</td>
                                        <td>{{ budget.estimatedDurationBudget }}</td>
                                        <td>{{ budget.estimatedCost }}</td>
                                        <td>{{ budget.budgetComments }}</td>
                                        {% if budget.expenses == 1 %}
                                            <td> expenses </td>
                                        {% elseif budget.incomes == 1 %}
                                            <td> incomes </td>
                                        {% endif  %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>

                    {% trans %}<h3> 3. Billing</h3>{% endtrans %}

                    <p><strong class="text-muted">{% trans %} Billing responsible : {% endtrans %}</strong> {{ charter.billingResponsible }}</p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th> {{ 'Description'|trans|raw }} </th>
                                <th> {{ 'Amount'|trans|raw }} </th>
                                <th> {{ 'Planned date'|trans|raw }} </th>
                                <th> {{ 'Delivered date'|trans|raw }} </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for billing in charter.billings %}
                                <tr>
                                    <td>{{ billing.billingDescription }}</td>
                                    <td>{{ billing.billingAmount }}</td>
                                    <td>{{ billing.billingPlanedDate |date('Y-m-d') }}</td>
                                    <td>{{ billing.billingDeliveredDate |date('Y-m-d') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <ul class="pager">
                        <li class="previous">
                            <a href="{{ path('charter_show4', {'id': charter.id}) }}"><i class="glyphicon glyphicon-chevron-left"></i>{{ 'Previous'|trans|raw }}</a>
                        </li>
                    </ul>

                    {#afficher ce bouton que pour les PM#}
                    {% if is_granted('ROLE_ADMIN') == false%}
                    <a data-toggle="modal" data-backdrop="static" href="#Negociation" class="btn btn-info pull-right" ><i class="glyphicon glyphicon-eye-open"></i> Negociation</a>
                    {% endif %}
                    {#afficher ce bouton que pour les PMO#}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a data-toggle="modal" data-backdrop="static" href="#decision" class="btn btn-info pull-left" ><i class="glyphicon glyphicon-eye-open"></i> Decision</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if negociation.charterId is not defined %}
        {# pour afficher le modal de négociation du budget decision #Negociation #}
        {{ is_granted('ROLE_PM') ? render(controller('App\\Controller\\NegociationController::newAction', {'id':charter.id})) }}
    {% else %}
        {#pour afficher le modal de négociation à éditer#}
        {{ is_granted('ROLE_PM') ? render(controller('App\\Controller\\NegociationController::editAction', {'id':charter.id })) }}
    {% endif %}

        {# pour afficher le modal de négociation pour valider ou modifier budget #decision #}
        {{ is_granted('ROLE_ADMIN') ? render(controller('App\\Controller\\NegociationController::showAction', {'id':charter.id})) }}

{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html.twig' %}
{% endblock %}